/*GENERAL STYLES*/

body {
    background-color: #fff;
    margin-top: 70px;
    padding: 10px;
    font-family:'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: x-large;
    letter-spacing: 1px;
    line-height: 150%;
    text-align: center;
    color: rgb(0, 0, 0);
}

.sr-only {
    display: none;
}

/* HEADER */
.page-header {
    display: flex;
    max-width: 100%;
    padding: 20px;
  }
  
  .page-header__item {
    flex: 0 1 200px;
    margin: auto auto;
  }
    
  .page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
    text-justify: center;
  }
  
  /* NAV */
  .nav-list {
    list-style-type: none;
    text-align: right;
  }
  
  .nav-item,
  .nav-link {
    display: inline-block;
    margin-left: 15px;
    font-size: smaller;
    text-decoration: none;
  }
    
  
  .nav-item_active {
    text-decoration: none;
    font-weight: bolder;
  }

  body {
    font-size: 24px;
  }

  .artwork-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
  }
  
  .button-class {
    font-family: inherit;
    font-size: inherit;
    background-color: rgb(255, 247, 255);
    color:black;
    padding: 20px;
    border: 1px;
    border-color: lightgrey;
    border-radius: 3px;
  }

  button:hover, button:focus,
.button-class:hover, .button-class:focus {
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

#modal-container {
  display:none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}


